<div class="container">
    <div class="row justify-content-center" style="margin-top: 2rem">
      <div class="col-lg-6 col-sm-9">
          <%= simple_form_for @business do |f| %>
            <%= f.input :name,
                  required: true,
                  autofocus: true,
                  hint: 'What is your business name?'%>
              <%= f.input :nickname,
                  required: true,
                  autofocus: true,
                  hint: 'Select a unique nickname :)'%>
              <%= f.input :address, hint: 'Where is your business located?'%>
              <%= f.input :description, hint: 'Explain a little bit about your business'%>
              <%= f.input :photo, as: :file, hint: 'This will be your avatar' %>
            <%= f.submit :submit, class: 'button btn-filled' %>
          <% end %>
      </div>
    </div>
  </div>
