<div class="business-info flex">
  <div class="button btn-filled">
    <% if policy(@business).edit? %>
      <%= link_to "Update", edit_business_path(@business) %>
    <% end %>
  </div>
  <div class="photo">
    <% if  @business.photo.attached? %>
      <%= cl_image_tag @business.photo.key, class: "business-image" %>
    <% else %>
      <%= image_tag "one-blank", class: "user-image" %>
    <% end %>
  </div>
  <h2><%= @business.nickname.capitalize  %></h2>
  <p> <%= @business.user.first_name %> <%= @business.user.last_name %></p>
  <p> <%= @business.address %> </p>

  <div class="map" style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-marker-value="<%= @marker.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
