<div class="business-info flex">
  <div class="photo">
    <% if  @business.photo.attached? %>
      <%= cl_image_tag @business.photo.key, class: "business-image avatar" %>
    <% else %>
      <%= image_tag "blank-profile-picture-square.png", class: "user-image" %>
    <% end %>
  </div>

    <% if policy(@business).edit? %>
    <%= link_to "Update", edit_business_path(@business), class: "btn btn-empty"%>
    <% end %>

  <div class="content-business">
    <h2><%= @business.nickname.capitalize  %></h2>
    <p> <%= @business.description %> </p>
    <div class="line"></div>
    <div class="contact-info">
      <p><i> Contact Information</i></p>
      <p> <%= @business.user.first_name %> <%= @business.user.last_name %></p>
      <p> <%= @business.user.email %> </p>
      <p> <%= @business.address %> </p>
    </div>
  </div>

  <div class="map2">
    <div style="width: 100%; height: 600px;" class="map"
      data-controller="mapbox"
      data-mapbox-marker-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
