<div class="navbar">
<%= link_to offers_path do %>
  <%= image_tag "back-icon.png", class:"back-icon" %>
<% end %>
<%= link_to root_path do %>
  <%= image_tag "buythebulk-logo.png", class:"buythebulk-logo" %>
<% end %>

  <%= image_tag "burguer-icon.png", class:"burguer-icon" %>
</div>
