<div class="orders-card flex">
      <% orders.each do |order| %>
        <%= link_to order_path(order), class:"order-card-link" do %>
          <div class="order-description flex">
            <div class="order-img">
              <% if order.offer.photo.key %>
                <%= cl_image_tag order.offer.photo.key, class: "order-img" %>
              <% else %>
                <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"order-img"%>
              <% end %>
            </div>
            <div class="order-info">
              <h4><%= order.offer.name %></h4>
              <div>
                <p>Ordered on <%= order.created_at.strftime("%d-%m-%Y") %></p>
                <% if order.offer.status == 'active' %>
                  <p>Offer expires <%= order.offer.days_until_deadline%></p>
                <% else %>
                  <p>Offer expired on <%= order.offer.deadline.strftime("%d-%m-%Y") %></p>
                <% end %>
              </div>
            </div>
            <i class="fas fa-angle-right order-arrow"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
