<div class="container-confirm">
  <div class="header">
    <h2>Congratulations!</h2>
    <p>Your order was successful</p>
  </div>

  <div class="order-summary">
    <h3 class="summary-text">Order Summary</h3>
    <div class="order-box">
      <% if @order.offer.photo.present? %>
        <%= cl_image_tag @order.offer.photo.key, class:"img-confirmation" %>
      <% else %>
        <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-confirmation" %>
      <% end %>
      <div class="order-info">
        <p class="product-name"><%= @order.offer.name %></>
        <div class="order-ordered-info">
          <div class="order-amount">
            <p>Amount</p><p><%= @order.amount %></p>
          </div>
          <div class="order-total">
            <p><strong>Total</strong></p><p><strong>€<%= @order.amount * @order.offer.initial_price %></strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="order-progress">
      <div class="offer-card-progress-bar">
        <%= render "shared/progress_bar", offer: @order.offer %>
      </div>
      <div class="progress-card-details">
        <p><%= @order.offer.ordered_amount %> / <%= @order.offer.target_amount %></p>
        <p>€<%= @order.offer.target_price %></p>
      </div>
      <p>Only <strong><%= @order.offer.target_amount - @order.offer.ordered_amount %></strong> items left until the target is reached</p>
    </div>
  </div>
  <div class="confirmation-buttons">
    <%= link_to "Keep Browsing", root_path, class: "button btn-filled confirmation-button"%>
    <%= link_to "Dashboard", offers_path, class: "button btn-empty confirmation-button" %>
  </div>
</div>
