<div class="container-confirm">
  <div class="header">
    <h2>Congratulations!</h2>
    <p>Your order was successful</p>
  </div>

  <div class="order-summary">
    <h3 class="summary-text">Order Summary</h3>
    <div class="order-box">
      <% if @order.offer.photo.present? %>
        <%= cl_image_tag @order.offer.photo.key, class:"img-confirmation" %>
      <% else %>
        <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-confirmation" %>
      <% end %>
      <div class="order-info">
        <p class="product-name"><%= @order.offer.name %></>
        <div class="order-ordered-info">
          <div class="order-amount">
            <p>Amount</p><p><%= @order.amount %></p>
          </div>
          <div class="order-total">
            <% if @order.offer.target_reached? %>
              <p><strong>Total</strong></p><p><strong>€<%= (@order.amount * @order.offer.target_price).round(2) %></strong></p>
            <% else %>
              <p><strong>Total</strong></p><p><strong>€<%= (@order.amount * @order.offer.initial_price).round(2) %></strong></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="order-progress">
      <div class="offer-card-progress-bar">
        <%= render "shared/progress_bar", offer: @order.offer %>
        <% if @order.offer.target_reached? %>
            <p class="target-reached"> <b>Target reached!</b> </p>
            <% if @participants == 1 %>
              <p class="target-reached">Thanks to you and another bulker we achieved the goal!</p>
            <% else  %>
              <p class="target-reached">Thanks to you and <%= @participants - 1 %> other bulkers we achieved the goal! </p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <p class="share-text">Share it with others!</p>
    <div class='share-link' data-controller="clipboard copy-url">
      <input class='form-field-green' type="text" value=<%=offer_url(@order.offer).gsub("www.","")%>  data-clipboard-target="source"/>
      <button type="button" class="button btn-filled btn-clipboard" data-action="clipboard#copy click->copy-url#clicked" data-copy-url-target="button"><i class="fas fa-clipboard clipboard-icon"></i></button>
    </div>
  </div>
  <div class="confirmation-buttons">
    <%= link_to "Keep Browsing", root_path, class: "button btn-filled confirmation-button"%>
    <%= link_to "Dashboard", orders_path, class: "button btn-empty confirmation-button" %>
  </div>
</div>
