<div class="container index-container">
  <div class="search-offer-cards">
    <%= form_with url: offers_path, method: :get, class:"form-row" do |f| %>
      <%= f.text_field :query,
        class: "mb-2 form-field-green form-field-left",
        placeholder: 'Search a specific offer',
        value: params[:query] %>
      <%= f.submit "Search", class: "button btn-filled btn-right" %>
    <% end %>
  </div>

  <% if policy(@offers).destroy_all? %>
  <h2>DANGER ADMIN! THIS WILL DELETE ALL THE SEEDS!!</h2>
  <%= link_to "Delete all", destroy_all_path, method: :delete %>
  <% end %>

  <div class="grid-offer-cards">
    <% @offers.each do |offer| %>
      <% if policy(offer).show? %>
        <div class="offer-card">
          <%= link_to offer_path(offer), class:"card-links" do %>
            <% if offer.photo.key %>
              <%= cl_image_tag offer.photo.key, class: "img-offer-card" %>
            <% else %>
            <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-offer-card"%>
            <% end %>
              <div class="offer-card-progress-bar">
                <%= render "shared/progress_bar", offer: offer %>
              </div>
            <div class="progress-card-details">
              <p><%= offer.ordered_amount %> / <%= offer.target_amount %></p>
              <% if offer.target_reached? %>
                <div class="prices">
                  <p>€<%= offer.target_price %></p>
                  <p class="lighter-price not-valid-price">€<%= offer.initial_price %></p>
                </div>
              <% else %>
                <div class="prices">
                  <p>€<%= offer.initial_price %></p>
                  <p class="lighter-price">Target price: €<%= offer.target_price %></p>
                </div>
              <% end %>
            </div>
            <div class="offer-card-details">
              <h4><%= offer.name %></h4>
              <p><%= truncate(offer.description, :length => 125) %></p>
            </div>
            <div class="offer-card-bottom">
              <p class="offer-deadline"><em>Offer expires <%= offer.days_until_deadline%></em></p>
              <div class="offer-category"><%= offer.category %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="upload-offer-section">
    <h4>Not finding what you are looking for?</h6>
    <%= link_to "Upload an offer", new_offer_path, class: 'button btn-empty btn-upload-offer' %>
  </div>
</div>
