<%#= render 'form_offer' %>

<% category = %w(furniture textiles decoration kitchenware\ &\ dinnerware take\ away pots\ &\ plants outdoor) %>
<% category.each { |name| name.capitalize!}%>
  <div class="container" data-controller="create-offer-form">
    <div class="row justify-content-center" style="margin-top: 2rem">
      <div class="col-lg-6 col-sm-9 offer-form-view">
          <h1 class="form-title">Create a new offer</h1>
          <%= simple_form_for @offer do |f| %>
            <div class='form-carroussel'>
              <i class="fas fa-chevron-left form-arrow-green hidden" data-create-offer-form-target="back" data-action="click->create-offer-form#back"></i>
              <div class="offer-form">
                <div class="offer-form-section offer-info col-12 active" data-create-offer-form-target="form1">
                  <%= f.input :name, hint: 'Remember, being creative can help you out' %>
                  <%= f.input :description, hint: 'Provide a detailed description. Example: Size, material, quality...' %>
                  <%= f.input :photo, as: :file, hint: 'Add a clear picture of the product' %>
                </div>
                <div class="offer-form-section offer-targets col-12 hidden" data-create-offer-form-target="form2">
                  <%= f.input :initial_price, html: {class: 'inline-form'}, hint: 'What is the current price/unit' %>
                  <%= f.input :target_price, html: {class: 'inline-form'}, hint: 'What is the desired price/unit' %>
                  <%= f.input :target_amount, hint: 'What is amount of products to reach the desired price?' %>
                  <%= simple_fields_for :order do |f| %>
                    <%= f.input :amount, hint: 'How many will you buy?'%>
                  <% end %>
                </div>
                <div class="offer-form-section offer-supplier-details col-12 hidden" data-create-offer-form-target="form3">
                  <%= f.input :supplier_id, as: :select, include_blank: false, collection: Supplier.all, label_method: :name  %>
                  <%= f.input :supplier_offer_url, hint: 'What is the link to the supplier?' %>
                  <%= f.input :category, as: :select, include_blank: false, collection: category %>
                  <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "yyyy-mm-dd" %>
                </div>
              </div>
              <i class="fas fa-chevron-right form-arrow-green" data-create-offer-form-target="next" data-action="click->create-offer-form#next"></i>
            </div>
            <div class="dots">
              <i class="fas fa-circle dot active" data-create-offer-form-target="dot1"></i>
              <i class="far fa-circle dot" data-create-offer-form-target="dot2"></i>
              <i class="far fa-circle dot" data-create-offer-form-target="dot3"></i>
            </div>
            <%= f.submit :submit, class: 'button btn-filled btn-offer-form disabled', data: {create_offer_form_target: "submit"}, disabled:true %>
          <% end %>
      </div>
    </div>
  </div>
