<div class="container-show">
  <div class="offer-details">
    <div class="od-pic"><%= image_tag "top" %></div>
    <div class="progress-bar"></div>
    <p class="price-currrent">Current Price</p>
    <h1><%= @offer.name %></h1>
    <p><%= @offer.description %></p>
  </div>

  <div class="amount-card">
    <div class="amount">
      <p>Order Amount</p>
      <input type="number" placeholder="€ 00,00">
    </div>
    <div class="total">
      <p>Total</p>
      <p><i>€ 250,00</i></p>
    </div>
    <div class="savings">
      <p>You're saving</p>
      <p>€ 54,30</p>
    </div>
    <a href="" class="button btn-filled">Order</a>
  </div>

  <div class="bulkers-card">
    <div class="bc-1">
      <div class="bc-1-text">
        <p> <%= @offer.user.first_name %> <%= @offer.user.last_name %></p>
        <p>Is placing this order</p>
      </div>
      <div class="bc-1-img">
        <%= image_tag "shapes_", class:"a1" %>
      </div>
    </div>
    <div class="bc-2">
      <div class="bc-2-img">
        <%= image_tag "shapes_", class:"avatar" %>
        <%= image_tag "shapes_", class:"avatar" %>
        <%= image_tag "shapes_", class:"avatar" %>
      </div>
      <p>45 other bulkers joined</p>
    </div>
  </div>
</div>
