<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>

<div class="container-show">

<%# Card with OFFER details %>
  <div class="offer-details">
    <% if @offer.photo.key %>
      <div class="od-pic">
        <%= cl_image_tag @offer.photo.key, class: "img-offer-card img-offer-show"%>
        <% if policy(@offer).edit? %>
          <div class="edit-icon">
            <%= link_to edit_offer_path(@offer) do %>
              <i class="fas fa-edit"></i>
             <% end %>
             <%= link_to offer_path(@offer), data: { confirm: "Are you sure?" }, method: :delete do %>
                <i class="fas fa-trash-alt" id="delete-icon"></i>
              <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
    <div class="od-pic">
      <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-offer-card img-offer-show"%>
        <% if policy(@offer).edit? %>
          <div class="edit-icon">
            <%= link_to edit_offer_path(@offer) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to offer_path(@offer), data: { confirm: "Are you sure?" }, method: :delete do %>
                <i class="fas fa-trash-alt" id="delete-icon"></i>
              <% end %>
          </div>
      <% end %>
    </div>
    <% end %>
    <div class="offer-content">
      <div class="offer-card-progress-bar">
        <%= render "shared/progress_bar", offer: @offer %>
      </div>
      <div class="progress-card-details">
        <p><%= @offer.ordered_amount %> / <%= @offer.target_amount %></p>
        <% if @offer.target_reached? %>
          <div class="prices">
            <p>€<%= @offer.target_price %></p>
            <p class="lighter-price not-valid-price">€<%= @offer.initial_price %></p>
          </div>
        <% else %>
          <div class="prices">
            <p>€<%= @offer.initial_price %></p>
            <p class="lighter-price">Target price: €<%= @offer.target_price %></p>
          </div>
        <% end %>
      </div>
      <div class="offer-card-details">
        <h1><%= @offer.name %></h1>
        <p><%= @offer.description %></p>
      </div>
      <div class="offer-card-bottom">
        <% if @offer.active? %>
          <p class="offer-deadline"><em>Offer expires <%= @offer.days_until_deadline%></em></p>
        <% else %>
          <p class="offer-deadline"><em>This offer expired on <br><%= @offer.deadline.strftime("%d-%m-%Y")%></em></p>
        <% end %>
        <div class="offer-category"><%= @offer.category %></div>
      </div>
    </div>

  </div>


<%# Order card with input for amount of products requiered %>
<% if user_signed_in? %>
  <% if @offer.active? %>
    <% if @offer.target_reached? %>
      <div class="amount-card" data-controller="total-price-calc"  data-total-price-calc-unit-price-value="<%= @offer.initial_price %>"data-total-price-calc-current-amount-value="<%= @offer.ordered_amount %>" data-total-price-calc-target-price-value="<%= @offer.target_price %>">
        <%= simple_form_for [ @offer, @order ], data: {action: "change input->total-price-calc#reachedPrice"} do |f| %>
          <p><%= f.input :amount, label: "Order amount", input_html: { data: { total_price_calc_target:"amount" }} %></p>
          <div class="total">
            <p>Total</p>
            <p data-total-price-calc-target="total"><i>0 €</i></p>
          </div>
          <div class="savings">
            <p>You are saving</p>
            <p data-total-price-calc-target="savings"><i></i></p>
          </div>
            <%= f.submit "Order", class: "button btn-filled" %>
          <div class='center-green-line'>
            <div class="green-line"></div>
          </div>
          <div class="target-expired">
            <h5><em>The target has been reached!</em></h5>
            <p>There is still time for other bulkers to join this offer. Share this offer with others!</p>
            <div class='share-link' data-controller="clipboard copy-url">
              <input class='form-field-green' type="text" value=<%=offer_url(@order.offer)%>  data-clipboard-target="source"/>
              <button type="button" class="button btn-filled btn-clipboard" data-action="clipboard#copy click->copy-url#clicked" data-copy-url-target="button"><i class="fas fa-clipboard clipboard-icon"></i></button>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
      <div class="amount-card" data-controller="total-price-calc"  data-total-price-calc-unit-price-value="<%= @offer.initial_price %>" data-total-price-calc-target-amount-value="<%= @offer.target_amount %>" data-total-price-calc-current-amount-value="<%= @offer.ordered_amount %>" data-total-price-calc-target-price-value="<%= @offer.target_price %>">
        <%= simple_form_for [ @offer, @order ], data: {action: "change input->total-price-calc#updatePrice"} do |f| %>
          <p><%= f.input :amount, label: "Order amount", input_html: { data: { total_price_calc_target:"amount" } } %></p>
          <div class="total">
            <p>Total</p>
            <p data-total-price-calc-target="total"><i>0 €</i></p>
          </div>
          <div class="savings">
            <p data-total-price-calc-target="text">You could be saving</p>
            <p data-total-price-calc-target="savings"><i>0.00 €</i></p>
          </div>
            <%= f.submit "Order", class: "button btn-filled" %>
          <div class='center-green-line'>
            <div class="green-line"></div>
          </div>
          <div class="target-expired">
            <h5><em>The target is not yet reached</em></h5>
            <p>Don't worry, there is still time! Share this offer with others!</p>
            <div class='share-link' data-controller="clipboard copy-url">
              <input class='form-field-green' type="text" value=<%=offer_url(@order.offer)%>  data-clipboard-target="source"/>
              <button type="button" class="button btn-filled btn-clipboard" data-action="clipboard#copy click->copy-url#clicked" data-copy-url-target="button"><i class="fas fa-clipboard clipboard-icon"></i></button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="amount-card">
      <p class="order-inactive">You cannot place an order as this offer is no longer active</p>
    </div>
  <% end %>
<% else %>
  <div class="amount-card">
    <p class="order-inactive">Please <%= link_to "sign-in", "/users/sign_in" %> to place an order.</p>
  </div>
<% end %>
 <div class="suppliers-info">
    <h2>Supplier Information</h2>
    <h5><%= @order.offer.supplier.name %></h5>
    <a href="<%= @order.offer.supplier_offer_url %>">Supplier's website</a>
  </div>
<%# Bulkers-card %>
  <div class="bulkers-card">

    <div class="bulker-info">
      <div class="info-bu">
        <h5>@<%= @offer.user.business.nickname %></h5>
        <p>Is placing this order</p>
      </div>
       <%= link_to business_path(@offer.user.business) do %>
        <% if  @offer.user.business.photo.attached? %>
          <%= cl_image_tag @offer.user.business.photo.key, class: "user-image" %>
        <% else %>
          <%= image_tag "one-blank.png", class: "user-image" %>
        <% end %>
      <% end %>
    </div>
    <% if @participants.nil? %>
        <div class="bulkers-in">
          <p>Be the first bulker to join @<%=@offer.user.business.nickname %>!</p>
        </div>
      <% else  %>
        <div class="bulkers-in">
          <% @participants.first(3).each do |user| %>
            <%= link_to business_path(user.business) do %>
              <div class="three-users-box">
                <% if user.business.photo.attached? %>
                  <%= cl_image_tag user.business.photo.key, class:"three-users"%>
                <% else %>
                  <%= image_tag "one-blank.png", class: "three-users" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <p><%= @participants.count  %> other bulkers joined</p>
        </div>
    <% end %>
  </div>

  <%# Comments section %>
  <%= render "comments/comment_box" %>

</div>
