<div class="container-show">

<%# Card with offer details %>
  <div class="offer-details">
    <div class="od-pic">
      <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-offer-card"%>
    </div>
    <div class="progress-bar"></div>
    <p class="price-currrent">Current Price</p>
    <h1><%= @offer.name %></h1>
    <p><%= @offer.description %></p>
  </div>

<%# Order card with input for amount of products requiered %>
  <div class="amount-card">
    <%= simple_form_for [ @offer, @order ] do |f| %>
      <p><%= f.input :amount, label: "Order amount"  %></p>
      <div class="total">
        <p>Total</p>
        <p><i>€ 250,00</i></p>
      </div>
      <div class="savings">
        <p>You're saving</p>
        <p>€ 54,30</p>
      </div>
        <%= f.submit %>
          <%# <%= link_to f.submit "Order", order_order_confirmation_path(@order_id), method: :post, class: "button btn-filled" %> %>
    <% end %>

  </div>


  <div class="bulkers-card">


  </div>
  <% if policy(@offer).edit? %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %>
  <%= link_to "Delete the offer", offer_path(@offer), method: :delete %>
  <% end %>
</div>
