<div class="container-show">

<div class="margin-only"></div>

<%# Card with offer details %>
  <div class="offer-details">
    <% if @offer.photo.key %>
      <%= cl_image_tag @offer.photo.key, class: "img-offer-card"%>
    <% else %>
    <div class="od-pic">
      <%= image_tag "https://cdn.shopify.com/s/files/1/0241/6856/2743/products/2_1296x.png?v=1637265121", class:"img-offer-card"%>
    </div>
    <% end %>
    <div class="offer-card-progress-bar">
      <%= render "shared/progress_bar", offer: @offer %>
    </div>
    <div class="progress-card-details">
      <p><%= @offer.ordered_amount %> / <%= @offer.target_amount %></p>
      <% if @offer.target_reached? %>
        <div class="prices">
          <p>€<%= @offer.target_price %></p>
          <p class="lighter-price not-valid-price">€<%= @offer.initial_price %></p>
        </div>
      <% else %>
        <div class="prices">
          <p>€<%= @offer.initial_price %></p>
          <p class="lighter-price">Target price: €<%= @offer.target_price %></p>
        </div>
      <% end %>
    </div>
    <div class="offer-card-details">
      <h1><%= @offer.name %></h1>
      <p><%= @offer.description %></p>
    </div>
    <div class="offer-card-bottom">
      <% if @offer.active? %>
        <p class="offer-deadline"><em>Offer expires <%= @offer.days_until_deadline%></em></p>
      <% else %>
        <p class="offer-deadline"><em>This offer expired on <br><%= @offer.deadline.strftime("%d-%m-%Y")%></em></p>
      <% end %>
      <div class="offer-category"><%= @offer.category %></div>
    </div>
  </div>

<%# Order card with input for amount of products requiered %>
<% if @offer.active? %>
  <% if @offer.target_reached? %>
    <div class="amount-card" data-controller="total-price-calc"  data-total-price-calc-unit-price-value="<%= @offer.initial_price %>" data-total-price-calc-target-price-value="<%= @offer.target_price %>">
      <%= simple_form_for [ @offer, @order ], data: {action: "change input->total-price-calc#reachedPrice"} do |f| %>
        <p><%= f.input :amount, label: "Order amount", input_html: { data: { total_price_calc_target:"amount" }} %></p>
        <div class="total">
          <p>Total</p>
          <p data-total-price-calc-target="total"><i>0 €</i></p>
        </div>
        <div class="savings">
          <p>You are saving</p>
          <p data-total-price-calc-target="savings"><i></i></p>
        </div>
          <%= f.submit "Order", class: "button btn-filled" %>
      <% end %>
    </div>
    <% else %>
    <div class="amount-card" data-controller="total-price-calc"  data-total-price-calc-unit-price-value="<%= @offer.initial_price %>" data-total-price-calc-target-price-value="<%= @offer.target_price %>">
      <%= simple_form_for [ @offer, @order ], data: {action: "change input->total-price-calc#updatePrice"} do |f| %>
        <p><%= f.input :amount, label: "Order amount", input_html: { data: { total_price_calc_target:"amount" } } %></p>
        <div class="total">
          <p>Total</p>
          <p data-total-price-calc-target="total"><i>0 €</i></p>
        </div>
        <div class="savings">
          <p>You could be saving</p>
          <p data-total-price-calc-target="savings"><i>0.00 €</i></p>
        </div>
          <%= f.submit "Order", class: "button btn-filled" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="amount-card">
    <p class="order-inactive">You cannot place an order as this offer is no longer active</p>
  </div>
<% end %>


  <div class="bulkers-card">

    <div class="bulker-info">
      <%# <p class="bulker-name">Susanito Perex</p> %>
      <%# <div class="img-div"><%= image_tag "shapes_", class: "img-avatar" %>
    </div>

    <div class="bulkers-in">
      <%# <div class="img-div"><%= image_tag "shapes_" %>
      <%# <p>45 other bulkers joined</p> %>
    </div>

  </div>


  <% if policy(@offer).edit? %>
  <%= link_to "Edit this offer", edit_offer_path(@offer) %>
  <%= link_to "Delete the offer", offer_path(@offer), method: :delete %>
  <% end %>
</div>
